<div id="footer-zone" class="texto_normal mt-4">
  <div class="container-fluid padding bg-light">
    <div class="row text-center">
      <div class="col-md-4 my-4">
        <img src="{{__dirname}}/imagenes/logo.png" alt="">
        <hr class="light">
        <p>555-555-555</p>
        <p>Samuel.Santiago@exprivia.com</p>
        <p>C/ La esperanza es lo último que se pierde.</p>
        <p><b>El saber es poder</b></p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5 class="texto_titulo">Horario</h5>
        <hr class="light">
        <p>Lunes, Miercoles, Viernes: 8:00 am - 15 pm</p>
        <p>Martes y Jueves: 8:00 am - 18:30 pm</p>
        <p>Sábado y Domingo: Cerrado</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5 class="texto_titulo">Redes sociales</h5>
        <hr class="light">
        <a href="#" class="col-md-4 my-4">
          <i class="fab fa-facebook fa-3x">
          </i>
        </a>
        <a href="#" class="col-md-4 my-4">
          <i class="fab fa-linkedin fa-3x">
          </i>
        </a>
        <a href="#" class="col-md-4 my-4">
          <i class="fab fa-twitter fa-3x">
          </i>
        </a>
        <a href="#" class="col-md-4 my-4">
          <i class="fab fa-youtube fa-3x">
          </i>
        </a>
        <p></p>
      </div>
    </div>
  </div>
</div>
